<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zoom</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <style>
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,body{
    width: 100%;
    height: 100vh;
  } 
  #main{
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color:rgb(8, 8, 8);
    background:linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0),rgb(0, 0, 0),rgb(15, 34, 77), rgb(0, 0, 0));
    /* padding: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
  } 
  #left{
    height: 80%;
    width: 60%;
    /* background-color:rgb(143, 30, 30); */
    padding: 100px 65px;
    /* display: flex; */
    color: #fff;
  } 
  #right{
    height: 80%;
    width: 40%;
    /* background-color:rgb(154, 108, 108); */
    padding: 30px 20px;
    /* display: flex; */
    color: #fff;
    /* background: radial-gradient(circle at center, rgb(26, 55, 123), rgb(15, 29, 60),rgb(0,0,0) 100%); */
  } 
  #right #img-div{
    margin-left: 50px;
      height: 30vw;
      width: 25vw;
      /* background-color: #fff; */
    }
    #img-div img{
      object-fit: cover;
    height:100%;
    width: 100%;
  }

  #btn-div{
    margin: 20px;
  }

  #btn-div button{
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(100,150,255);
  }
  h6{
    /* font-family: "Satisfy"; */
    /* font-family: "Caveat"; */
    font-size: 15px;
    margin-left: 25px;
    font-family: "Kalam";
    margin-top: 12px;
  }
  h2{
    font-family: "Gilroy";
    margin-left: 15px;
  }
  h1{
    font-family: "philosopher";
    /* font-family: "Satisfy"; */
    /* font-family: "Caveat"; */
    font-size: 60px;
  }

  nav{
    font-size: 28px;
    height: 100%;
    width: 80%;
    /* padding: 20px; */
    color: #fff;
  }
  
  nav ul{
    position: absolute;
  left: 4%;
    flex-direction:row; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    
  }
  nav #n{
    position: absolute;
  left: 4%;
  margin-top: 64px;
  font-size: 20px;
  flex-direction:row; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    
  }
  nav #n h3{
  
  font-size: 14px;
  margin-left: 13px;
  margin-right: 12px;
    
  }
  nav ul li{
  margin-right: 60px;
    list-style: none;
  margin-top: 10px;
}
nav ul li img{
  /* padding: 10px 20px; */
    width:55px;
    display: block;
    /* margin-right:50px ; */
    /* padding: 10px; */
    cursor: pointer;
    /* opacity: 0.5; */
    border-radius: 10px;
    /* transition: opacity 0.5s ; */
    background-color: rgb(60, 145, 255);
}
nav ul li #d{
    width:55px;
    display: block;
    /* margin-right:50px ; */
    /* padding: 10px; */
    cursor: pointer;
    /* opacity: 0.5; */
    border-radius: 10px;
    /* transition: opacity 0.5s, background 0.5s; */
}
 nav ul li img:hover{
    opacity: 1;
    background: #004cc7;
}
#meet{
  height: 134px;
  width: 120px;
  position: absolute;
  top: 0%;
  left: 3%;
}

span{
  background-color: rgb(100,150,255);
  font-weight: 600;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#footer{
  height: 100px;
  width: 60%;
  /* background-color: transparent; */
  box-shadow: -3px 3px 4px #ffffff;
      background: inherit;
      backdrop-filter: blur(1px);
  border: 1px solid white;
  border-radius: 15px;
  position: absolute;
  bottom: -4%;
  left: 50%;
  color: #fff;
  transform: translate(-50%,-50%);
  display: flex;
 justify-content: space-between;
 align-items: center;
  /* position: relative; */
}
.div{
  height: 100%;
  width: 27%;
  padding: 20px 30px;
  /* background-color: #13536c; */
 display: flex;
 justify-content: space-between;
 align-items: center;
  color: #fff;
}
.text{
  width: 100%;
  padding-top: 10px;
 display: flex;
 justify-content: space-between;
 flex-direction: column;
 align-items: center;
  color: #fff;
}

  </style>
</head>
<body>
        <div id="main">
         
            <img src="meet_logo-removebg-preview.png" alt="" id="meet">
        
                <div id="left">
                    <h1>Welcome to <span>MeetVista!</span></h1>
                    <br>
                    <h2>Say goodbye to distance, <br> with our video calling app.</h2>
                    <h6>Get ready to connect like never before....</h6>          
                    <div id="btn-div">
                        <nav>
                            <ul>
                              <a href="/join/room"><li><img id="d" src="wired-flat-981-consultation (3).gif" alt=""></li></a>
                               <a href="/craeteroom/new" name="id"> <li><img src="wired-lineal-49-plus-circle (2).gif"></li></a>
                                <li><img src="wired-flat-21-avatar.gif"></li>
                              </ul>
                            <ul id="n">
                              <li><h3>Join</h3></li>
                             <li><h3>Create</h3></li>
                             <li><h3>Info</h3></li>
                              </ul>
                        </nav>
                        </div>
                </div>
                <div id="right">
                    <div id="img-div">
                        <img src="Remote meeting-rafiki.png" alt="">
                    </div>
                </div>

                <div id="footer">
                    <div class="div">
                      <i class="ri-vidicon-fill" style="font-size: 25px; margin-bottom: 50px;"></i>
                      <div class="text">
                        <h2 style="font-size: 18px;font-weight: 600;">Video and Audio</h2>
                        <p style="font-size: 12px; margin-left: 10px;"> The ability to make video <br> calls with clear audio <br> and high-quality video.</p>
                      </div>
                    </div>
                    <div class="div">
                      <i class="ri-message-2-fill" style="font-size: 25px;margin-bottom: 50px;" ></i>
                      <div class="text">
                        <h2 style="font-size: 18px;font-weight: 600;margin-right: 90px;">Chat</h2>
                        <p style="font-size: 12px;margin-left: 10px;"> The ability to chat  <br> with other participants <br> during the  call.</p>
                      </div>
                    </div>
                    <div class="div">
                      <i class="ri-group-fill" style="font-size: 25px;margin-bottom: 50px;"></i>
                      <div class="text">
                        <h2 style="font-size: 18px; font-weight: 600; margin-right: 50px;">Scheduling</h2>
                        <p style="font-size: 12px;margin-left: 10px;"> The ability to schedule <br> video calls and send <br>  invitations to participants.</p>
                      </div>
                    </div>
                 
                </div>
        </div>
    
  </body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</html>